<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.denes.locodroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrainDriverActivity"
            android:label="@string/title_activity_train_driver"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LocoListActivity"
            android:label="@string/title_activity_loco_list"
            android:parentActivityName="android.app.ListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".AddNewLocoActivity"
            android:label="@string/title_activity_add_new_loco"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".service.NetworkCommunicationService" />

        <activity
            android:name=".AttachLocoActivity"
            android:label="@string/title_activity_attach_loco" >
        </activity>
    </application>

</manifest>
